node_modules
**/node_modules
**/dist
**/.next
**/out-tsc
**/test-output
**/coverage
.nx
.git
.github
.vscode
.idea
**/.env
**/.env.local
**/*.log
Dockerfile
**/Dockerfile
docker-compose.yml
README.md
